@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar{
    display: none !important;
  }
  
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .busi{
    margin-top: -47rem;

  }
  .data2{
    display: grid !important;
    grid-template-columns:  1fr 1fr ;
  }
  .data3{
    display: grid !important;
    grid-template-columns:  1fr 1fr 1fr 1fr;


  }
  .busii{
padding-top: 2rem;
  }
  .nav , .editorHeader{
    width: 95%;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;

  }
  .nav h2 , .editorHeader h1{
    font-weight: 700;
    font-size: 2rem;
   
  }

  .nav h3{
    font-weight: 600;
    font-size: 1.5rem;
  }
  .navProduct , .editorSec{
    width: 95%;
    margin:  0 auto;
    display:  grid;
    
    gap: 20px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img , .img2{
    width: 100%;
    height: 250px;
    margin-top: 1rem;
  }
  .text{
    padding: 1rem 0;
  }
  .text span ,  .fileCont span{
    font-size: 16px;
    font-weight: bold;
  }
  .text p , .fileCont p{
    font-size: 18px;
  }
  .text p:hover{
    cursor: pointer;
    text-decoration:  underline;
  }
  .text h5:hover{
    cursor: pointer;
    text-decoration:  underline;
  }
  .text h2{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;

  }
  .text h2:hover{
    cursor: pointer;
    text-decoration:  underline;
  }
  .nav2{
    margin-top: 4rem;
  }
  .editorMain {
    margin-top: 3rem;
    width: 100%;
    background: #eee;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .imgCont{
    margin-top: 1rem;
    display: grid;
    grid-template-columns:  3fr 9fr;
  }
  .imgCont .text{
    display: flex;
    align-items: flex-end;
    margin-top: 2rem; 
  }
  .imgCont h1{
    font-size: 5rem;
    text-align: justify;
    margin-top: 6rem;
    color: transparent;
    -webkit-text-stroke: 1px black;
  }
  .fileCont{
    margin-top: -25px;
  }
  .fileCont h2{
    font-weight: 500;
    font-size: 1.2rem;
  }
  .fileCont h1{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 10px;
  }
 
   .container{
    margin-top: 3rem;
    width: 100%;
    background: #eee;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .container h1{
      font-size: 2.5rem;
    }
    .icons ul{
      display: flex;
      gap: 15px;
     padding-bottom: 1rem;

    }
  .icons ul li {
    display: flex;
  align-items: center;
  justify-content: center;
   width:  40px !important;
   height: 40px;
   border-radius: 50%;
   background: #fff;
   cursor: pointer;
    }
    .links ul {display:  flex; gap: 10px ;padding-bottom: 1rem;}
    .links ul li a{
      text-decoration:  underline;
      cursor: pointer;
    }
    .links ul li a:hover{
      text-decoration:  none;
    }
  @media (min-width: 768px){
    .navProduct , .editorSec{

      width: 95%;
      margin:  0 auto;
      display:  grid;
      gap: 20px;
      grid-template-columns:  1fr 1fr;
    }
  }

  @media (min-width: 1024px){
    .navProduct{

      width: 95%;
      margin:  0 auto;
      display:  grid;
      gap: 20px;
      grid-template-columns:  1fr 1fr 1fr 1fr;
    }
    .editorSec{
      width: 95%;
      margin:  0 auto;
      display:  grid;
      gap: 25px;
      grid-template-columns:  1fr 1fr 1fr;
    }
  }